- 
  var pages = {
    top : {
      url : 'index.html',
      name : 'かんばん',
      title : 'かんばん',
      description : 'my かんばん',
      keywords : '',
    }
  }
  var config = {
    top : {
      
    }
  }
