extends ./assets/pugs/_layout.pug
block vars
  include ./assets/pugs/_config.pug
  - var key = "top"
  - var page = pages[key]

block header 
  .header.sticky-top
    h2 #{page.title}
    h1=message
block contents
  section#board.board.row
  include ./css/css.pug
  include ./include/_script.pug

  script.
    var mounted = (data)=>{
      var taskObj = {};
      data.TICKET_TYPE.forEach(el=>{
        taskObj[el.TICKET_TYPE_CODE] = [];
        data.TICKETS.forEach(ticket=>{
          if(ticket.TICKET_TYPE === el.ID){
            (taskObj[el.TICKET_TYPE_CODE]).push(ticket);
          }
        });
        var taskWrapEl = _createdElement("ul","","","list-group");
        var titleEl = _createdElement("h3",el.TICKET_TYPE_NAME,"","");
        var sectionEl = _createdElement("div",titleEl,"","col-4 ticket-table bg-light border mx-1 rounded");

        taskObj[el.TICKET_TYPE_CODE].forEach(task=>{
            var taskEl = _createdElement("li",task.TICKET_NAME,"","list-group-item my-1 rounded shadow-sm pointer");
            taskWrapEl.appendChild(taskEl);
        })
        sectionEl.appendChild(taskWrapEl)
        document.getElementById("board").appendChild(sectionEl);
      })
    }
    ticketMounted(mounted);
