style.
  body{
   
  }
  .ticket-table{
    width:300px;
    max-width:300px;
    min-width:300px;
  }
  .board {
    height:300px;
    display:flex; 
    overflow-x:auto;
    white-space: nowrap;
    flex-wrap:nowrap;
  }
  .pointer{
    cursor:pointer;
  }