style.
  body, button, html, input, select, textarea {
    color: #172b4d;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .ticket-table{
    width:300px;
    max-width:300px;
    min-width:300px;
    max-height:700px;
    height:100%;
  }
  .board {
    min-height:50px;
    display:flex; 
    overflow-x:auto;
    white-space: nowrap;
    flex-wrap:nowrap;
  }
  .pointer{
    cursor:pointer;
  }
  .task-wrap{
    min-height:50px;
  }
  .list-card-composer-textarea{
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 54px;
    background: none;
    border: none;
    box-shadow: none;
    height: auto;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    overflow-y: auto;
    padding: 0;
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    background-color: #fafbfc;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 8px 12px;
    transition-property: background-color,border-color,box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
  }