style.
  .header{
    position:fixed;
  }
  .ticket-table{
    flex: 0 0 auto !important;
    width:500px;
  }
  .board{
    height:300px;
    display:flex; 
    overflow-x:auto;
    width:3000px;
  }