script.
  function ticketMounted(fnc){
      $.ajax({
        url: "get/mounted",
        type:"POST"
      })
        .then(
          // 1つめは通信成功時のコールバック
          function (data) {
            fnc(data);
            },
          function (error) {
              console.log(error)
            }
        );
  }
  function ajaxPost(rqData,fnc,url){
    $.ajax({
      url:url,
      type:"POST",
      data:rqData,
      dataType: "json"
    }).then(
      function(data){
        fnc(data);
      },
      function(error){
        console.log(error)
      }
    )
  }
  