script.
  function ticketMounted(fnc){

      $.ajax({
        url: "get/ticket_type",
        type:"POST"
      })
        .then(
          // 1つめは通信成功時のコールバック
          function (data) {
            fnc(data);
            },
          function (error) {
              console.log(error)
            }
        );
  }
  